{% extends 'base.html.twig' %}

{% block title %}New UserAccountCreation{% endblock %}

{% block body %}
    <h1>Create new UserAccountCreation</h1>

    {{ include('user_account_creation/_form.html.twig') }}

    <a href="{{ path('user_account_creation_index') }}">back to list</a>
{% endblock %}
