{% extends 'base.html.twig' %}

{% block title %}New UserEnergyValuesCreation{% endblock %}

{% block body %}
    <h1>Create new UserEnergyValuesCreation</h1>

    {{ include('user_energy_values_creation/_form.html.twig') }}

    <a href="{{ path('user_energy_values_creation_index') }}">back to list</a>
{% endblock %}
